<h1>Welcome <%= @user.name %>!</h1>
<p>You can confirm your account through the link below:</p>
<p><%= link_to 'Confirm my account', v1_auth_confirmation_url(token: @token, redirect_url: @redirect_url) %></p>
